<div class="game-grid">
  <a href="#" class="game-card">
    <img src="/images/TA001.png" alt="아낙수나문">
    <span class="game-title">아낙수나문</span>
  </a>
  <a href="#" class="game-card">
    <img src="/images/TA002.png" alt="리틀킹">
    <span class="game-title">리틀킹</span>
  </a>
</div>
