<div class="game-grid">
  <a href="#" class="game-card">
    <img src="/images/games/super-fruit.jpg" alt="슈퍼 후르츠">
    <span class="game-title">슈퍼 후르츠</span>
  </a>
  <a href="#" class="game-card">
    <img src="/images/games/lucky-panda.jpg" alt="럭키 판다">
    <span class="game-title">럭키 판다</span>
  </a>
  <a href="#" class="game-card">
    <img src="/images/games/shadow-assassin.jpg" alt="섀도우 어쌔신">
    <span class="game-title">섀도우 어쌔신</span>
  </a>
  <a href="#" class="game-card">
    <img src="/images/games/golden-egg.jpg" alt="골든 에그 & 팜">
    <span class="game-title">골든 에그 & 팜</span>
  </a>
  <a href="#" class="game-card">
    <img src="/images/games/book-of-god.jpg" alt="북 오브 갓">
    <span class="game-title">북 오브 갓</span>
  </a>
</div>