<%# Winning Banner with Marquee Effect %>
<div class="winning-banner">
  <div class="banner-content" data-content="
    <div class='winner'>
      <span class='username'>림프스</span>
      <span class='bonus'>신전 보너스</span>
      <span class='amount'>13,260,000원</span>
      <span>획득하였습니다.</span>
    </div>
    <div class='winner'>
      <span class='username'>cjdkocos님</span>
      <span>에서</span>
      <span class='bonus'>슈퍼보난자</span>
      <span class='bonus'>보너스</span>
      <span class='amount'>11,964,000원</span>
      <span>획득하였습니다.</span>
    </div>
  ">
    <div class="winner">
      <span class="username">림프스</span>
      <span class="bonus">신전 보너스</span>
      <span class="amount">13,260,000원</span>
      <span>획득하였습니다.</span>
    </div>
    <div class="winner">
      <span class="username">cjdkocos님</span>
      <span>에서</span>
      <span class="bonus">슈퍼보난자</span>
      <span class="bonus">보너스</span>
      <span class="amount">11,964,000원</span>
      <span>획득하였습니다.</span>
    </div>
  </div>
</div>