<footer class="site-footer">
  <div class="footer-nav">
    <a href="/usage-guide">이용약관</a>
    <a href="/privacy">개인이용약관</a>
    <a href="/youth-protection">게임청보물등급위원회</a>
    <a href="/youth-policy">청소년보호정책</a>
  </div>
  
  <div class="company-info">
    <p>상호: 고픽업소프트웨어 | 대표이사: 반정현 | E메일: indipcw7629@gmail.com</p>
    <p>주소: 인천광역시 부평구 부평대로 283 A동 B115-12호</p>
    <p>사업자등록번호: 770-11-02632 | 통신판매업 신고번호: 제2024-인천부평-1385호</p>
    <p class="copyright">Copyright©인디피씨 All Rights Reserved.</p>
  </div>
</footer>