<section class="notice-board">
  <h3>공지사항</h3>
  <ul class="notice-list">
    <li>
      <a href="#">홀덤 입장금액 및 게임룸 안내</a>
      <span class="date">2024.07.03</span>
    </li>
    <li>
      <a href="#">바둑이 입장금액 및 게임룸 안내</a>
      <span class="date">2024.07.03</span>
    </li>
    <!-- More notices... -->
  </ul>
  <a href="#" class="more-link">더보기</a>
</section>